<DOCTYPE! html>
<html lang="en-US">
<head>
<title>Hello World Page</title>
<meta charset="utf-8">
</head>
<body>
<h1>Enter a date</h1>
<p>Enter a data below and submit and we will find the day of the week on the return page.</p>

<form action="/dow" method="get">
	<select name="day">
    {% for day in days %}
    		<option value='{{day}}'>{{day}}</option>
    {% endfor %}
	</select>

  <select name="month">
		{% for month in months %}
			<option value='{{month}}'>{{month}}</option>
		{% endfor %}
	</select>

	<select name="year">
		{% for year in years %}
			<option value='{{year}}'>{{year}}</option>
		{% endfor %}
	</select>

	<input type='submit' name='submit' value='submit'>

</form>

</body>
</html>
